extends ../layout/index

block contenido
    div.contenedorGeneral
        h1.tituloPaginas= pagina
        
        

        p.centrarTexto.aLogins(class= error ? "token_error" : "token_bien")= mensaje
        div 

        if !error
            div.centrarTexto.separacionContrasenas
                a.aLogins(href="/auth/login") Ya puedes 
                    span.spanLogins Iniciar sesión 