extends ../layout/index

block contenido
    div.login.contenedor

        div.posFormLogin 
            h2.tituloLogins= pagina

            if errores
                div
                    each error in errores
                        p.error= error.msg
            
            form(method="POST" action="/auth/login")
                input(type="hidden" name="_csrf" value= csrfToken  )
                div.divLogins
                    label.labelLogins(for="email") Correo Electronico
                    input.inputLogins#email(placeholder="Correo_electronico@gmail.com", type="text", name="email")
                div.divLogins
                    label.labelLogins(for="contrasena") Contrase単a
                    input.inputLogins#contrasena(placeholder="Contrase単a", type="password", name="contrasena")                            
                
                input.btnLogins(type="submit", value="Iniciar Sesion")
                
            div.div_aLogin
                a.aLogins.posLogin(href="/auth/registro") 多No tienes cuenta? 
                    span.spanLogins Crea una
                a.aLogins.posLogin(href="/auth/olvide-password") Olvide mi Contrase単a


        div
            img.imgLogin(src="../img/login.jpg", alt="")
