extends ../layout/index

block contenido
     div.contenedorGeneral
        h1.tituloPaginas= pagina

        div.posFormLogin
            if errores
                div.erroresCambiarPass
                    each error in errores
                        p.error= error.msg
            form(method="POST" action='/auth/olvide-password')
                input(type="hidden" name="_csrf" value= csrfToken )
                div.divLogins
                    label.labelLogins(for="email") Correo Electronico
                    input.inputLogins#email(placeholder="correo@dominio.com", type="text", name="email")

                div.separacionBoton
                    input.btnOpcion(type="submit", value="Enviar Instrucciones")