extends ../layout/index

block contenido
    div 
        h2.titulo= pagina
    div
    
    if errores
        div
            each error in errores
                p.error= error.msg

    form(method="POST" action="/auth/registro" noValidate)
        input(type="hidden" name="_csrf" value= csrfToken  )
        div 
            label(for="nombre") Nombre Completo
            input#nombre(placeholder="Nombre Completo", type="text", name="nombre" value= usuario ? usuario.nombre : '')
        div 
            label(for="email") Correo Electronico
            input#email(placeholder="Correo Electronico", type="email", name="email" value= email ? usuario.email : '')
        div 
            label(for="contrasena") Contraseña
                input#contrasena(placeholder="Contraseña", type="password", name="contrasena")                            
        div 
            label(for="repetir_contrasena") Repite la Contraseña
            input#repetir_contrasena(placeholder="Repetir Contraseña", type="password", name="repetir_contrasena")

        div 
            a(href="/auth/login") ¿Ya estas registrado? Inicia Sesion 
        input(type="submit", value="Crear Cuenta")