extends ../layout/index

block contenido
    div 
        h2.titulo= pagina
    div

    if errores
        div
            each error in errores
                p.error= error.msg

    form(method="POST" noValidate)
        input(type="hidden" name="_csrf" value= csrfToken )
        div 
            label(for="contrasena") Nueva Contraseña
            input#contrasena(placeholder="Nueva Contraseña", type="password", name="contrasena")

        input(type="submit", value="Guardar Contraseña")