extends ../layout/index

block contenido
    div.contenedorGeneral
        h2.tituloPaginas= pagina

        div.posFormLogin
            if errores
                div.erroresCambiarPass
                    each error in errores
                        p.error= error.msg

            form(method="POST" noValidate)
                input(type="hidden" name="_csrf" value= csrfToken )
                div.divLogins
                    label.labelLogins(for="contrasena") Nueva Contraseña
                    input.inputLogins#contrasena(placeholder="Nueva Contraseña", type="password", name="contrasena")
                div.divLogins    
                    label.labelLogins(for="contrasenaRepetida") Repite La Contraseña
                    input.inputLogins#contrasena(placeholder="Repite la Contraseña", type="password", name="contrasenaRepetida")
                div 
                    input.btnOpcion(type="submit", value="Guardar Contraseña")