extends ../layout/opciones_usuario

block contenido

    div.admin.contenedor
        div.posFormLogin
            p.tituloLogins.letraBlanca= pagina
            if errores
                div.errores
                    each error in errores
                        p.error= error.msg

            form(method="POST") 
                input(type="hidden", name="_csrf" value= csrfToken)
                div.divLogins 
                    label.labelLogins.letraBlanca(for="nombre") Nombre Completo
                    input.inputLogins(type="text" placeholder="Nombre Completo" name="nombre" value= admin ? admin.nombre : '') 
                div.divLogins
                    label.labelLogins.letraBlanca(for="telefono") Teléfono 
                    input.inputLogins(type="number" placeholder="Teléfono" name="telefono" value= admin ? admin.telefono : '')
                div.divLogins
                    label.labelLogins.letraBlanca(for="email") Correo Electrónico
                    input.inputLogins(type="email", placeholder="Correo Electrónico" name="email" value= admin ? admin.email : '' ) 
                
                input.btnOpcion(type="submit" value="Guardar Cambios")
        div
            img.imgLogin(src="/../img/quienes-somos_2.jpg", alt="")