extends ../layout/opciones_usuario

block opciones_moderador
    p.tituloCategoria= pagina

    if errores
        div
            each error in errores
                p.error= error.msg
    form(method="POST" action="/personal/personal-crear") 
        input(type="hidden", name="_csrf" value= csrfToken)
        div.divLogins
            label.labelLogins(for="nombre") Nombre Completo
            input.inputLogins(type="text" placeholder="Nombre Completo del Administrador" name="nombre" value= admin ? admin.nombre : '') 
        div.divLogins
            label.labelLogins(for="telefono") Teléfono 
            input.inputLogins(type="number" placeholder="Teléfono del Administrador" name="telefono" value= admin ? admin.telefono : '')
        div.divLogins 
            label.labelLogins(for="email") Correo Electrónico
            input.inputLogins(type="email", placeholder="Correo Electrónico del Administrador" name="email" value= admin ? admin.email : '' ) 
        div.divLogins 
            label.labelLogins(for="contrasena") Contraseña
            input.inputLogins#contrasena(placeholder="Contraseña", type="password", name="contrasena")                            
        div.divLogins 
            label.labelLogins(for="repetir_contrasena") Repite la Contraseña
            input.inputLogins#repetir_contrasena(placeholder="Repetir Contraseña", type="password", name="repetir_contrasena")
        input.btnOpcion.espacio(type="submit" value="Crear Personal")
        div
            a.btnOpcion(href="/personal/personal-gestionar") Volver 