extends ../layout/opciones_usuario

block opciones_moderador
    p= pagina

    if errores
        div
            each error in errores
                p.error= error.msg
    form(method="POST" action="/admin/admin-crear") 
        input(type="hidden", name="_csrf" value= csrfToken)
        div 
            label(for="nombre") Nombre Completo
            input(type="text" placeholder="Nombre Completo del Administrador" name="nombre" value= admin ? admin.nombre : '') 
        div 
            label(for="telefono") Telefono 
            input(type="number" placeholder="Telefono del Administrador" name="telefono" value= admin ? admin.telefono : '')
        div 
            label(for="email") Correo Electronico
            input(type="email", placeholder="Correo Electronico del Administrador" name="email" value= admin ? admin.email : '' ) 
        div 
            label(for="contrasena") Contrase単a
                input#contrasena(placeholder="Contrase単a", type="password", name="contrasena")                            
        div 
            label(for="repetir_contrasena") Repite la Contrase単a
            input#repetir_contrasena(placeholder="Repetir Contrase単a", type="password", name="repetir_contrasena")
        input(type="submit" value="Crear Administrador")