@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
p {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.contenedor {
  max-width: 132rem;
  margin: 0 auto;
}
.contenedorGeneral {
  max-width: 110rem;
  min-height: 70rem;
  margin: 0 auto;
}
@media (max-width: 758px) {
  .contenedorCelu {
    margin: auto 1rem;
  }
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
}
.link {
  text-decoration: none;
}
@media (max-width: 758px) {
  .letraBlanca {
    color: white;
  }
}
.titulo {
  text-align: center;
  font-size: 2rem;
}
.nombre {
  text-align: center;
  font-size: 4rem;
  margin-top: 1.5rem;
  margin-bottom: 2.8rem;
}
.errores {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-right: 11rem;
}
@media (max-width: 758px) {
  .errores {
    padding-right: 0rem;
  }
}
.erroresGestion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-right: 64rem;
  padding-left: 8rem;
}
@media (max-width: 758px) {
  .erroresGestion {
    padding-left: 0rem;
    padding-right: 5rem;
  }
}
.erroresEditarMesa {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-right: 30rem;
  padding-left: 30rem;
}
@media (max-width: 758px) {
  .erroresEditarMesa {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.erroresConfiguracion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-right: 70rem;
}
@media (max-width: 758px) {
  .erroresConfiguracion {
    padding-right: 0rem;
  }
}
.erroresCambiarPass {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-right: 61rem;
}
@media (max-width: 758px) {
  .erroresCambiarPass {
    padding-right: 0rem;
  }
}
.error {
  display: grid;
  background-color: red;
  /* border-radius: 1.5rem; */
  padding: 1rem 1rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

/* Vista de Pagina */
.tituloPaginas {
  margin-top: 1.5rem;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.descripcionPaginas {
  margin-top: 6rem;
  font-weight: 500;
  font-size: 2rem;
}

/* Inicio de Pagina */

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  justify-items: center;
  border-bottom: 0.1rem solid rgb(184, 184, 184);
}
.opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.sesion {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.cerrarSesion {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background-color: white;
  border: 0px;
}
.btnHeader {
  background-color: #845e02;
  color: white;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}

@media screen and (max-width: 758px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    /* max-width: 25rem; */
    margin: 0 auto;
    /* position: relative;
    left: 12.5rem; */
  }
  .opciones {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.5rem;
  }
}

/* Footer */

.footer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  font-weight: 700;
}
.imgFooter {
  width: 3.3rem;
  height: 3.2rem;
}
.imgRedes {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
}
/* Pagina de Inicio */

/* Clases Generales */

.tituloInicioBlanco {
  margin-top: 4.6rem;
  margin-bottom: 1.6rem;
  color: white;
  font-weight: 700;
  font-size: 3rem;
}
.descripcionInicioBlanco {
  margin-bottom: 3rem;
  color: white;
  font-weight: 500;
  font-size: 3rem;
}
.tituloInicioCafe {
  margin-top: 4.6rem;
  margin-bottom: 1.6rem;
  color: #845e02;
  font-weight: 700;
  font-size: 3rem;
}
.descripcionInicioCafe {
  margin-bottom: 4rem;
  color: #845e02;
  font-weight: 500;
  font-size: 3rem;
}
.contenedor-des {
  max-width: 64rem;
}
.flechaBlanco {
  width: 10rem;
  height: 6rem;
  transform: rotateY(3.142rad);
}
.flechaCafe {
  width: 10rem;
  height: 6rem;
  position: relative;
  left: 55rem;
}

@media (max-width: 758px) {
  .flechaCafe {
    position: relative;
    left: 0;
  }
}

/* Clases de secciones de inicio */
.imagenInicio {
  background-image: url(../img/inicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(90%);
  height: 33rem;
  font-size: 5rem;
}

.letraInicio {
  color: white;
  font-weight: 700;
  position: relative;
  top: 25rem;
  /* right: 25rem; */
  text-align: center;
}
.seccionInicioBlanco {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #845e02;
  gap: 2rem;
}
.imgSeccionInicio {
  width: 56.8rem;
  height: 29.7rem;
  filter: brightness(85%);
}
.seccionInicioCafe {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  background-color: #f0f0f0;
  gap: 2rem;
}

@media (max-width: 758px) {
  .imagenInicio {
    height: 28rem;
  }
  .letraInicio {
    font-size: 3rem;
    top: 23rem;
  }
  .seccionInicioBlanco {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 0;
  }
  .seccionInicioCafe {
    display: flex;
    flex-direction: column-reverse;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 0.5fr; */
  }
  .textosInicio {
    padding-left: 1rem;
  }
  .imgSeccionInicio {
    width: 100%;
  }
}
/* Quienes Somos */
.quienesSomos {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.imgquienesSomos {
  width: 45rem;
  height: 25rem;
  border: solid 0.1rem black;
  margin-bottom: 5rem;
}
.espacio {
  margin-bottom: 2.5rem;
}
@media (max-width: 758px) {
  .quienesSomos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .descripcionPaginas {
    padding: 0 2rem;
    margin-top: 2.5rem;
  }
  .imgquienesSomos {
    width: 100%;
  }
}
/* Ubicacion y Contacto */
.ubicacion {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.imgUbicacion {
  width: 40rem;
  height: 25rem;
}
.descripcionContacto {
  font-size: 2rem;
  margin-top: 4rem;
}

@media (max-width: 758px) {
  .ubicacion {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    margin-top: 0;
    gap: 2rem;
  }
  .imgUbicacion {
    width: 100%;
  }
  .descripcionContacto {
    padding: 0 2rem;
  }
}
/* Registro */
.registro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 758px) {
  .registro {
    grid-template-columns: 0fr 2fr;
    margin-bottom: 11.5rem;
  }
}
.login {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media (max-width: 758px) {
  .login {
    grid-template-columns: 1fr 0fr;
    margin-bottom: 2.5rem;
  }
}

.imgRegistro {
  width: 60rem;
  min-height: 55rem;
  height: 72rem;
  object-fit: cover;
}
@media (max-width: 758px) {
  .imgRegistro {
    height: 0rem;
    min-height: 99rem;
    width: 100%;
    position: absolute;
    right: inherit;
    z-index: -1;
    filter: brightness(70%);
  }
}
.imgLogin {
  width: 60rem;
  min-height: 55rem;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 758px) {
  .imgLogin {
    height: 0rem;
    min-height: 52rem;
    width: 100%;
    position: absolute;
    right: 0rem;
    z-index: -1;
    filter: brightness(70%);
  }
  .marginImgLoginCelu {
    margin-bottom: 50rem;
  }
}
.imgCarta {
  width: 60rem;
  min-height: 55rem;
  height: 100%;
  object-fit: fill;
  filter: brightness(87%);
}
@media (max-width: 758px) {
  .imgCarta {
    height: 0rem;
    min-height: 66rem;
    width: 100%;
    position: absolute;
    right: 0rem;
    z-index: -1;
    filter: brightness(70%);
  }
}
.tituloLogins {
  margin-top: 1.5rem;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1.5rem;
}

.divLogins {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  margin-bottom: 1rem;
}
.labelLogins {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  position: relative;
}
.inputLogins {
  font-family: "Poppins", sans-serif;
  background-color: #dde1cd;
  border: 0px;
  border-radius: 0.4rem;
  width: 28rem;
  height: 5rem;
  padding-left: 1.5rem;
}
.divContrasenas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 758px) {
  .divContrasenas {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.separacionContrasenas {
  margin-top: 3rem;
}
.separacionBoton {
  margin-top: 2rem;
}
.btnLogins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  width: 21rem;
  height: 4.3rem;
  background-color: #845e02;
  box-shadow: 0px 0px 30px rgba(99, 122, 48, 0.4);
  border-radius: 0.4rem;
  border: 0rem;
  margin-top: 2rem;
  cursor: pointer;
}
.div_aRegistro {
  margin-top: 2.5rem;
  margin-left: 15rem;
}
@media (max-width: 758px) {
  .div_aRegistro {
    margin-left: 0rem;
    margin-bottom: 5rem;
  }
}
.div_aLogin {
  margin-top: 2.5rem;
  margin-left: 6rem;
}
@media (max-width: 758px) {
  .div_aLogin {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-bottom: 2rem;
  }
}
.aLogins {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.spanLogins {
  color: #00a3ff;
}
.posLogin {
  margin-right: 2rem;
}
.posFormLogin {
  margin-top: 6rem;
  margin-left: 14rem;
}
@media (max-width: 758px) {
  .posFormLogin {
    /* margin-top: 2rem; */
    /* margin-left: 5rem; */
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .posFormRegistro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5rem;
  }
  .marginImgRegistroCelu {
    margin-bottom: 88rem;
  }
}

.posFormReserva {
  margin-left: 14rem;
}
@media (max-width: 758px) {
  .posFormReserva {
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Reserva */

.inputReserva {
  font-family: "Poppins", sans-serif;
  background-color: #dde1cd;
  border: 0rem;
  border-radius: 0.4rem;
  width: 15rem;
  height: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}
.marginReserva {
  margin-top: 1rem;
}
.btnsRadio {
  display: flex;
  align-content: center;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.btnRadio {
  width: 5rem;
  height: 2rem;
}

@media (max-width: 758px) {
  .imgReserva {
    min-height: 53rem;
  }
  .padding {
    margin-bottom: 1.5rem;
  }
}
/*** Reserva Comida  ***/

.tituloCategoriaReserva {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  padding-left: 11.5rem;
  border-bottom: 1px solid;
}
.tituloCategoriaReserva:hover {
  color: #845e02;
  cursor: pointer;
}
.contenedorReservaProducto {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-bottom: 0.1rem solid rgb(235 235 235);
  /* max-height: 0;
  overflow: hidden; */

  /* transition: max-height 1s ease; */
}
.contenedorReservaProducto div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrito {
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.productosAgregados{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75rem;
  justify-items: start;
  margin: 1rem 0;
}
.cantidadNombreCarrito {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75rem;
}
.tituloCarrito {
  font-size: 2rem;
}
.cantidadCarrito {
  font-size: 1.5rem;
}
.nombreCarrito {
  font-size: 1.5rem;
}
.separacionCarrito {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tamLetra {
  font-size: 2.3rem;
}
.cantidad {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 6rem;
}
.texto300 {
  font-weight: 300;
}
.centrarTexto {
  text-align: center;
}
@media (max-width: 758px) {
  .centrarTextoCelu {
    text-align: center;
  }
}
/* Acordeon */

.acordeon.active .allProductos {
  max-height: 500rem;
}

.acordeonActive :nth-child(2) {
  max-height: 500rem;
}
/* Menu de Moderador */
.opciones_mode {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid rgb(184, 184, 184);
  padding-bottom: 1rem;
}
@media (max-width: 758px) {
  .opciones_mode {
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.opcion_mode {
  color: black;
  font-size: 14px;
}
.busqueda {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-right: 6rem;
}
@media (max-width: 758px) {
  .busqueda {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0rem;
  }
}

.mostrarCantidad {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.numeroCantidad {
  font-size: 1.5rem;
  background-color: #845e02;
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
}

/* Gestion de Menu */
.opciones_menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center;
  justify-items: center;
}
@media (max-width: 758px) {
  .opciones_menu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    margin-left: 2rem;
  }
}
.contenedorGestionProducto {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  border-bottom: 1px solid rgb(235 235 235);
  padding: 1rem 0;
}
@media (max-width: 758px) {
  .contenedorGestionProducto {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 0fr 1fr 1fr 0fr 0fr; */
    /* justify-items: center; */
    /* gap: 1rem; */
  }
  .contenedorGestionProducto .categoriaProducto {
    grid-column: 3/1;
    text-align: center;
  }
  .contenedorGestionProducto div:nth-child(4) {
    grid-column: 3/1;
  }
  .contenedorGestionProducto div:nth-child(5) {
    grid-column: 3/1;
  }
  .vistaImagen {
    display: flex;
    align-items: center;
  }
}
/* Vista Menu */
.tituloCategoria {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5rem;
}
.contenedorProducto {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid rgb(235 235 235);
  padding: 1rem 0;
  gap: 2rem;
  align-items: center;
}

.productoTextos {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 1rem;
  margin-left: 11.5rem;
}

@media (max-width: 758px) {
  .productoTextos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
  }
  .contenedorProducto {
    grid-template-columns: 1fr 1fr;
    padding: 1rem 1rem;
  }
}
.imgProducto {
  width: 25rem;
  height: 15rem;
  border: solid rgb(109, 107, 107) 0.1rem;
  border-radius: 0.5rem;
}
.categoriaProducto {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}
.gestionProductoTextos {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}
.tituloProducto {
  font-weight: 700;
  font-size: 2rem;
}
.descripcionProducto {
  font-size: 1.7rem;
}
.precioProducto {
  font-size: 2.3rem;
}
.opcionesProducto {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
@media (max-width: 758px) {
  .opcionesProducto {
    flex-direction: row;
    margin-top: 1rem;
  }
}
.categorias {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin-top: 3rem;
  margin-bottom: 4rem;
  border-bottom: 0.1rem solid rgb(184, 184, 184);
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}

@media (max-width: 758px) {
  .categorias {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    padding: 0 1rem 1.5rem;
  }
  .imgProducto {
    width: 100%;
  }

}
.btnOpcion {
  background-color: #845e02;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border: 0rem;
  border-radius: 0.4rem;
  padding: 1rem 2rem;
  text-align: center;
}

/* Gestion Administrador */

.etiquetasAdmin {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid rgb(184, 184, 184);
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.admin {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media (max-width: 758px) {
  .etiquetasAdmin {
    grid-template-columns: repeat(2, 1fr);
    /* margin-left: 1rem; */
  }
  .admin {
    grid-template-columns: 1fr 0fr;
    margin-bottom: 6.5rem;
  }
}
.datosAdmins {
  display: grid;
  font-size: 1.5rem;
  font-weight: 700;
}
.datosAdmin {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(184, 184, 184);
  align-items: center;
}
@media (max-width: 758px) {
  .datosAdmin {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }
  .datosAdmin div {
    grid-column: 3/1;
  }
}
.separacion {
  border-bottom: 1px solid black;
}
.btnsJuntos2 {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/* Gestion Mesas */

@media (max-width: 758px) {
  .ocultarCelu {
    display: none !important;
  }
}
.buscadoresMesa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 2rem;
}
/* .buscadoresMesa div:nth-child(3){
  grid-column: 3/1;
} */

.filtrosBusqueda{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.filtroEstados{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.filtroFecha{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.buscarCodigo {
  font-family: "Poppins", sans-serif;
  background-color: #dde1cd;
  border: 0px;
  border-radius: 0.4rem;
  width: 20rem;
  height: 5rem;
  padding-left: 1.5rem;
}
@media (max-width: 758px) {
  .buscadoresMesa {
    grid-template-columns: 1fr;
  }
}
.etiquetasMesa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid rgb(184, 184, 184);
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
@media (max-width: 758px) {
  .etiquetasMesa {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}
.datosReservas {
  display: grid;
  font-size: 1.5rem;
  font-weight: 700;
}
.datosReserva {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(184, 184, 184);
  align-items: center;
}

@media (max-width: 758px) {
  .datosReserva {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.5rem;
    gap: 1rem;
  }
  .datosReserva a {
    grid-column: 4/2;
  }
}
/* Gestionar Mesa en especifico */
.datosReservacion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  font-size: 1.5rem;
  row-gap: 1.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 758px) {
  .datosReservacion {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
.datosReservacion div:nth-child(5) {
  grid-column: 5/1;
}
.datosReservacion div:nth-child(6) {
  grid-column: 5/1;
}
.datoReserva {
  font-weight: 700;
}
.spanDatoReserva {
  font-weight: 300;
}
.contenedorMesa {
  min-height: 40rem;
}
.btnsJuntos {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 1rem;
}
.estadosMesaCambios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
@media (max-width: 758px) {
  .estadosMesaCambios {
    flex-direction: column;
  }
  .opcionesCelu {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
.btnMesa {
  padding-left: 10rem;
}
@media (max-width: 758px) {
  .btnMesa {
    padding-left: 2rem;
  }
}
.formVerMesa {
  display: flex;
  gap: 2rem;
}
@media (max-width: 758px) {
  .formVerMesa {
    flex-direction: column;
    align-items: flex-start;
  }
}
.separacion {
  margin-left: 20rem;
}

.verMesaFecha {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}
/*** Ver mesas ***/
.gridVerMesas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;
}
@media (max-width: 758px) {
  .gridVerMesas {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gridHoras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mesaP {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.horaP {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: blue;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.paginacion {
  padding-top: 5rem;
}
/* Descripcion Colores */
.colores {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
}
@media (max-width: 758px) {
  .colores {
    flex-wrap: wrap;
  }
}
.color {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.letraColor {
  font-weight: 700;
  font-size: 1.3rem;
}
.divColor {
  height: 2rem;
  width: 2rem;
}

.colorAceptado {
  background-color: green;
  color: white;
}
.colorNoLlegada {
  background-color: red;
  color: white;
}
.colorEnMesa {
  background-color: blue;
  color: white;
}
.colorComidaServida {
  background-color: #845e02;
  color: white;
}
.colorSalida {
  background-color: orange;
  color: white;
}
