extends ../layout/opciones_usuario

block contenido
    div.login.contenedor

        div.posFormLogin
            h2.tituloLogins.letraBlanca= pagina

            if errores
                div.errores
                    each error in errores
                        p.error= error.msg
            form(method="POST") 
                input(type="hidden", name="_csrf" value= csrfToken)
                div.divLogins 
                    label.labelLogins.letraBlanca(for="categoria") Categoría
                    select.inputLogins#categoria(name="categoria") 
                        option(value="") - Seleccione - 
                        each categoria in categorias
                            option(value=categoria.id selected= datos.categoriaId ? datos.categoriaId == categoria.id ? true : false : null)= categoria.nombre 
                div.divLogins 
                    label.labelLogins.letraBlanca(for="titulo") Nombre 
                    input.inputLogins(type="text" placeholder="Nombre del Producto" name="titulo", value= datos.titulo ? datos.titulo : "") 
                div.divLogins 
                    label.labelLogins.letraBlanca(for="descripcion") Descripción 
                    textarea#descripcion.inputLogins(name="descripcion", cols="30", rows="10", placeholder="Descripción de la Propiedad")= datos.descripcion ? datos.descripcion : ""  
                div.divLogins 
                    label.labelLogins.letraBlanca(for="precio") Precio
                    input.inputLogins(type="number", placeholder="Precio del Producto",name="precio" value = datos.precio ? datos.precio : "") 
                div.divLogins 
                    input.btnLogins(type="submit", value="Guardar Cambios") 
           
        div
            img.imgCarta(src="/../img/carta.jpg", alt="")