extends ../layout/opciones_usuario

block opciones_moderador
    h2.tituloCategoria= pagina

    if errores
        div.errores
            each error in errores
                p.error= error.msg
    form(method="POST" action="/menu/menu_crear") 
        input(type="hidden", name="_csrf" value= csrfToken)
        div.divLogins
            label.labelLogins(for="categoria") Categoría
            select.inputLogins#categoria(name="categoria") 
                option(value="") - Seleccione - 
                each categoria in categorias
                    option(value=categoria.id selected= datos.categoria ? datos.categoria == categoria.id ? true : false : null)= categoria.nombre 
        div.divLogins 
            label.labelLogins(for="titulo") Nombre 
            input.inputLogins(type="text" placeholder="Nombre del Producto" name="titulo", value= datos.titulo ? datos.titulo : "") 
        div.divLogins
            label.labelLogins(for="descripcion") Descripción 
            textarea#descripcion.inputLogins(name="descripcion", cols="30", rows="10", placeholder="Descripción del Producto")= datos.descripcion ? datos.descripcion : ""  
        div.divLogins
            label.labelLogins(for="precio") Precio
            input.inputLogins(type="number", placeholder="Precio del Producto",name="precio" value = datos.precio ? datos.precio : "") 
        //- label.labelLogins(for="imagen") Añadir Imagen   
        input.btnOpcion.espacio(type="submit", value="Añadir Imagen") 
        div
            a.btnOpcion(href="/menu/gestionar_menu") Volver 
        