//- extends ../layout/opciones_usuario

//- block opciones_moderador
extends ../layout/index

block contenido
    div.login.contenedor
        div.posFormLogin
            h2.tituloLogins= pagina

            //- if errores
            //-     div
            //-         each error in errores
            //-             p.error= error.msg

            form( method="POST" action="/reserva/realizar-reserva")
                input(type="hidden", name="_csrf" value= csrfToken)
                div.divLogins
                    label.labelLogins(for="fecha") Fecha de Reservacion 
                    input.inputReserva(type="date" name="fecha")  
                div.divLogins 
                    label.labelLogins(for="hora") Hora de Reservacion
                    select.inputReserva#hora(name="hora") 
                        option(value="") - Seleccione - 
                        each hora in horas
                            option(value=hora.id selected= datos.hora ? datos.hora == hora.id ? true : false : null)= hora.hora  
                div.divLogins 
                    label.labelLogins(for="personas") Numero de Personas 
                    input.inputReserva(type="number" name="personas")
                    p.labelLogins.marginReserva ¿Desea Reservar comida?
                div.btnsRadio
                    div.btnsRadio 
                        label.labelLogins(for="si") Si
                        input.btnRadio(type="radio" name="comida" id="si" value="si")  
                    div.btnsRadio
                        label.labelLogins(for="no") No
                        input.btnRadio(type="radio" name="comida" id="no" value="no") 

                input.btnLogins(type="submit" value="Continuar") 
        div
            img.imgLogin(src="../img/login.jpg", alt="")