extends ../layout/opciones_usuario

block opciones_moderador
    h2.tituloPaginas= pagina
    div.contenedorMesa
        p.tamLetra.texto300 Tu solicitud de Reserva esta a la 
            span.datoReserva espera de ser confirmada.
        br
        p.tamLetra.texto300 Nos aseguraremos de atenderle lo mas pronto posible. En breve le informaremos de si es posible confirmar la reserva mediante un email o puedes ver el estado en
            span.datoReserva  "Ver reservaciones"
        br
        p.tamLetra.texto300 Si realizaste la solicitud fuera de nuestro horario de atención, no podremos confirmar hasta volver abrir.
    div.centrarTexto 
        a.btnOpcion(href="/reserva/ver-reservas") Continuar 