extends opcion_moderador 

block opciones_moderador
    h2= pagina
    div.opciones_menu
        a(href="/moderador/menu_crear" class="link") Agregar Producto
        a(href="/moderador/gestionar_menu/editar" class="link") Editar Producto
        a(href="/moderador/gestionar_menu/eliminar" class="link") Eliminar Producto
