extends opcion_moderador 

block opciones_moderador
    h2= pagina

    //- a(href="/moderador/crear" class="link") Agregar Producto
    //- a(href="/menu/Editar" class="link") Editar Producto
    //- a(href="/menu/crear" class="link") Eliminar Producto
