extends index

block contenido
    div.contenedorGeneral
        h2.nombre= nombre
        div
            if mostrar
                div.opciones_mode
                    a(href="" class="link opcion_mode") Reservar 
                    a(href="" class="link opcion_mode") Ver reservaciones 
                    if user == 1
                        a(href="/mesa/gestionar-mesa" class="link opcion_mode") Gestionar Mesas
                        a(href="/menu/gestionar_menu" class="link opcion_mode") Gestionar Menu
                        a(href="/admin/admin-gestionar" class="link opcion_mode") Gestionar Administradores
                    a(href="" class="link opcion_mode") Configuracion de la cuenta

        div 
            block opciones_moderador