//- extends ../layout/index

//- block contenido
//-     div
//-         h2.nombre= nombre
//-     div.opciones_mode 
//-         a(href="" class="link opcion_mode") Reservar 
//-         a(href="" class="link opcion_mode") Ver reservaciones 
//-         a(href="" class="link opcion_mode") Configuracion de la cuenta

//-     div 
//-         block opciones_usuario