extends ../layout/index

block contenido
    div.imagenInicio
        p.letraInicio RESTAURANTE

    div.contenedor
        div.seccionInicioBlanco
            img.imgSeccionInicio(src="../img/quienes-somos.jpg", alt="")
            div.textosInicio
                p.tituloInicioBlanco Quienes Somos 
                p.descripcionInicioBlanco.contenedor-des Somos un equipo que ha conformado un restaurante donde nos gustaría comer a diario y en las ocasiones especiales.
                a(href="/quienes-somos")
                    img.flechaBlanco(src="../img/flecha.png", alt="")

        div.seccionInicioCafe
            div.textosInicio
                p.tituloInicioCafe Conoce Nuestro Menu
                p.descripcionInicioCafe.contenedor-des Conoce nuestro menú. Contamos con una gran variedad de comidas, ya sean de entrada, platos fuertes, ensaladas o postres.
                a(href="/ver-menu/1") 
                    img.flechaCafe(src="../img/flecha.png", alt="")
            img.imgSeccionInicio(src="../img/carta.jpg", alt="")

        div.seccionInicioBlanco
            img.imgSeccionInicio(src="../img/donde-encontramos.jpg", alt="") 
            div.textosInicio
                p.tituloInicioBlanco Donde Nos Encontramos
                p.descripcionInicioBlanco.contenedor-des Nos encontramos localizados en el mejor lugar de Providencia. Conoce la dirección aquí.
                a(href="/ubicacion-contacto") 
                    img.flechaBlanco(src="../img/flecha.png", alt="")