extends ../layout/index

block contenido
    div.contenedorGeneral
        p.tituloPaginas= pagina
        p.descripcionPaginas Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, est dolor, nisl nibh ac lorem eget dolor nunc. Augue velit erat ac aliquam. Adipiscing feugiat bibendum placerat.
        div.quienesSomos 
            img.imgquienesSomos(src="../img/quienes-somos.jpg", alt="")
            img.imgquienesSomos(src="../img/quienes-somos_2.jpg", alt="")