extends ../layout/index

block contenido
    div.contenedorGeneral
        p.tituloPaginas Ubicacion
        div.ubicacion
            p.descripcionPaginas Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, est dolor, nisl nibh ac lorem eget dolor nunc. Augue velit erat ac aliquam. Adipiscing feugiat bibendum placerat.
            img.imgUbicacion(src="../img/mapa.jpg", alt="")
        p.tituloPaginas Contacto
        div 
            p.descripcionContacto Telefono: +56 912345678
            p.descripcionContacto.espacio Correo:  restaurante@gmail.com
