extends ../layout/index

block contenido
    div.contenedorGeneral
        p.tituloPaginas Ubicación
        div.ubicacion
            p.descripcionPaginas Nos encontramos localizados en el mejor lugar de Providencia.
            img.imgUbicacion(src="../img/mapa.jpg", alt="")
        p.tituloPaginas Contacto
        div 
            p.descripcionContacto Teléfono: +56 912345678
            p.descripcionContacto.espacio Correo:  restauranttesis@gmail.com
