extends ../layout/opciones_usuario

block opciones_moderador

    h2.tituloCategoria= pagina
    if errores
        div.erroresConfiguracion
            if comparar == false
                p.error La contrase単a actual no es Valida
            each error in errores 
                p.error= error.msg
    div 
        form(method="POST") 
            input(type="hidden", name="_csrf" value= csrfToken)

            div.divLogins 
                label.labelLogins(for="passActual") Contrase単a Actual
                input.inputLogins(type="password" placeholder="********" name="passActual") 
            div.divLogins 
                label.labelLogins(for="passNueva") Nueva Contrase単a 
                input.inputLogins(type="password" placeholder="********" name="passNueva") 
            div.divLogins 
                label.labelLogins(for="passNuevaRepetida") Repite la Contrase単a
                input.inputLogins(type="password", placeholder="********",name="passNuevaRepetida") 
            input.btnLogins(type="submit", value="Guardar Cambios") 
        div.div_aLogin
        a.btnOpcion(href="/configurar/") Volver 