footer.footer.contenedor
    p imagen
    p © 2022 - Todos los derechos reservados.
    div 
        p SIGUENOS EN REDES SOCIALES
        div.imgRedes
            img(src="../img/facebook.png", alt="").imgFooter
            img(src="../img/instagram.png", alt="").imgFooter