if reserva.hora.hora == "09:00"
    p.horaP.colorAceptado 09:00
    -var n9 = true
else
    if !n9
        p.horaP 09:00
        -var n9 = true

if reserva.hora.hora == "10:00"
    p.horaP.colorAceptado 10:00
    -var n10 = true
else
    if !n10
        p.horaP 10:00
        -var n10 = true    

if reserva.hora.hora == "11:00"
    p.horaP.colorAceptado 11:00
    -var n11 = true
else
    if !n11
        p.horaP 11:00
        -var n11 = true    

if reserva.hora.hora == "12:00"
    p.horaP.colorAceptado 12:00
    -var n12 = true
else
    if !n12
        p.horaP 12:00
        -var n12 = true  

if reserva.hora.hora == "13:00"
    p.horaP.colorAceptado 13:00
    -var n13 = true
else
    if !n13
        p.horaP 13:00
        -var n13 = true  

if reserva.hora.hora == "14:00"
    p.horaP.colorAceptado 14:00
    -var n14 = true
else
    if !n14
        p.horaP 14:00
        -var n14 = true 

if reserva.hora.hora == "15:00"
    p.horaP.colorAceptado 15:00
    -var n15 = true
else
    if !n15
        p.horaP 15:00
        -var n15 = true 

if reserva.hora.hora == "16:00"
    p.horaP.colorAceptado 16:00
    -var n16 = true
else
    if !n16
        p.horaP 16:00
        -var n16 = true  

if reserva.hora.hora == "17:00"
    p.horaP.colorAceptado 17:00
    -var n17 = true
else
    if !n17
        p.horaP 17:00
        
        -var n17 = true  
if reserva.hora.hora == "18:00"
    p.horaP.colorAceptado 18:00
    -var n18 = true
else
    if !n18
        p.horaP 18:00
        -var n18 = true  

if reserva.hora.hora == "19:00"
    p.horaP.colorAceptado 19:00
    -var n19 = true
else
    if !n19
        p.horaP 19:00
        -var n19 = true  

if reserva.hora.hora == "20:00"
    p.horaP.colorAceptado 20:00
    -var n20 = true
else
    if !n20
        p.horaP 20:00
        -var n20 = true  

if reserva.hora.hora == "21:00"
    p.horaP.colorAceptado 21:00
    -var n21 = true
else
    if !n21
        p.horaP 21:00
        -var n21 = true  
        
if reserva.hora.hora == "22:00"
    p.horaP.colorAceptado 22:00
    -var n22 = true
else
    if !n22
        p.horaP 22:00
        -var n22 = true  